Temperature
[
    {
        "id": "1493a6e.ffb30d9",
        "type": "tab",
        "label": "Temperature",
        "disabled": false,
        "info": "# Architecture\n- RTL-SDR \n- Mosquitto (Publisher\n to Subscriber)\n * Window #1 ( rtl_433 -M notime -F json | mosquitto_pub -t home/accurite -l )\n * Window #2 ( mosquitto_sub -t home/acurite )\n- [Node-RED](192.168.2.137:1880)\n- [InfluxDB](192.168.2.137:8086)\n- [Grafana](192.168.2.137:30000)\n"
    },
    {
        "id": "cfa319b8.1018c8",
        "type": "mqtt in",
        "z": "1493a6e.ffb30d9",
        "name": "MQTT",
        "topic": "home/acurite",
        "qos": "2",
        "datatype": "auto",
        "broker": "84dbf0c0.eb442",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "c2e48d00.7f227"
            ]
        ]
    },
    {
        "id": "d7552b98.45db48",
        "type": "influxdb out",
        "z": "1493a6e.ffb30d9",
        "influxdb": "cf3b58a7.763738",
        "name": "WriteToTemperature (Channel 4)",
        "measurement": "temperature_C",
        "precision": "",
        "retentionPolicy": "",
        "x": 1070,
        "y": 240,
        "wires": []
    },
    {
        "id": "c2e48d00.7f227",
        "type": "json",
        "z": "1493a6e.ffb30d9",
        "name": "MakeObject",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "ab6bc8af.d57a98"
            ]
        ],
        "info": "{\"model\" : \"Acurite-Tower\", \"id\" : 5643, \"channel\" : \"A\", \"battery_ok\" : 1, \"temperature_C\" : 24.600, \"humidity\" : 59, \"mic\" : \"CHECKSUM\"}"
    },
    {
        "id": "38806a39.eeb5a6",
        "type": "function",
        "z": "1493a6e.ffb30d9",
        "name": "Make sure channel is a string",
        "func": "var n = msg.payload.channel;\nn = n + \"\";\nmsg.payload.channel = n;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "7862d84c.a4b2e8"
            ]
        ]
    },
    {
        "id": "e438044e.bd2758",
        "type": "influxdb out",
        "z": "1493a6e.ffb30d9",
        "influxdb": "941eddc.efe0e2",
        "name": "WriteToSecurity (Channel 1)",
        "measurement": "status",
        "precision": "",
        "retentionPolicy": "",
        "x": 1080,
        "y": 60,
        "wires": []
    },
    {
        "id": "ab6bc8af.d57a98",
        "type": "switch",
        "z": "1493a6e.ffb30d9",
        "name": "Switch Payloads based on model",
        "property": "payload.model",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "DSC-Security",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "-Remote",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Smoke-GS558",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "8066d104.ae97d"
            ],
            [
                "14da2146.4229ef"
            ],
            [
                "12db7ae6.63eded"
            ],
            [
                "38806a39.eeb5a6"
            ]
        ],
        "info": "**Coming from neighbor**\n{\"model\":\"DSC-Security\",\"subtype\":\"unknown\",\"id\":4984530,\"closed\":1,\"event\":0,\"tamper\":0,\"battery_ok\":1,\"xactivity\":0,\"xtamper1\":0,\"xtamper2\":0,\"exception\":0,\"esn\":\"4c0ed2\",\"status\":195,\"status_hex\":\"c3\",\"mic\":\"CRC\"}\n\nMotion Sensor\n{\"model\":\"Generic-Remote\",\"id\":4176,\"cmd\":85,\"tristate\":\"0Z00ZZ00ZZZZ\"}\n\nAttic\n{\"model\":\"LaCrosse-TX141Bv2\",\"id\":154,\"channel\":1,\"temperature_C\":25.3,\"battery_ok\":1,\"test\":\"No\"}\n\nYard\n{\"model\" : \"Acurite-606TX\", \"id\" : 106, \"battery_ok\" : 1, \"temperature_C\" : 25.800, \"mic\" : \"CHECKSUM\"}\n\nPatio\n{\"model\":\"Acurite-Tower\",\"id\":5643,\"channel\":\"C\",\"battery_ok\":1,\"temperature_C\":25.2,\"humidity\":80,\"mic\":\"CHECKSUM\"}\n\nBathroom\n\"model\" : \"Acurite-Tower\", \"id\" : 12902, \"channel\" : \"B\", battery_ok\" : 1, \"temperature_C\" : 25.700, \"humidity\" : 55, \"mic\" : \"CHECKSUM\"}\n\nUpstairs\n\"model\" : \"Acurite-Tower\", \"id\" : 12872, \"channel\" : \"A\", battery_ok\" : 1, \"temperature_C\" : 25.700, \"humidity\" : 55, \"mic\" : \"CHECKSUM\"}\n\n\n\n{\"model\":\"Acurite-606TX\",\"id\":106,\"battery_ok\":1,\"temperature_C\":24.9,\"mic\":\"CHECKSUM\"}\n\nCPVan Water Detector \nWater heater above master bedroom closet\nUses lithium battery CR2450\n{\"model\" : \"Generic-Remote\", \"id\" : 44012, \"cmd\" : 12, \"tristate\" : \"XXX11X100010\"}\n\nCPVan Water Detector \nUpstairs attic, air conditioner #1 water pan\nUses lithium battery CR2450\n{\"model\" : \"Generic-Remote\", \"id\" : 3308, \"cmd\" : 12, \"tristate\" : \"00101X100010\"}\n\nCPVan Water Detector \nUpstairs attic, water heater pan\nUses lithium battery CR2450\n{\"model\" : \"Generic-Remote\", \"id\" : 64748, \"cmd\" : 12, \"tristate\" : \"11101X100010\"}\n\nCPVan Water Detector \nUpstairs attic, air conditioner #2 water pan\nUses lithium battery CR2450\n{\"model\" : \"Generic-Remote\", \"id\" : 59676, \"cmd\" : 12, \"tristate\" : \"1XXZ0Z100010\"}\n\nVersa Door/Windows Contact\nhttp://versawirless.com/pages/installation\nuses lithium battery CR2030\nClosed switch \n{\"model\" : \"DSC-Security\", \"subtype\" : \"DW4917 door/window sensor\", \"id\" : 2708817, \"closed\" : 1, \"event\" : 1, \"tamper\" : 0, \"battery_ok\" : 1, \"xactivity\" : 1, \"xtamper1\" : 0, \"xtamper2\" : 0, \"exception\" : 0, \"esn\" : \"295551\", \"status\" : 163, \"status_hex\" : \"a3\", \"mic\" : \"CRC\"}\n\nOpen switch\n{\"model\" : \"DSC-Security\", \"subtype\" : \"DW4917 door/window sensor\", \"id\" : 2708817, \"closed\" : 0, \"event\" : 1, \"tamper\" : 0, \"battery_ok\" : 1, \"xactivity\" : 1, \"xtamper1\" : 0, \"xtamper2\" : 0, \"exception\" : 0, \"esn\" : \"295551\", \"status\" : 161, \"status_hex\" : \"a1\", \"mic\" : \"CRC\"}\n"
    },
    {
        "id": "6cc25ff9.84b",
        "type": "influxdb out",
        "z": "1493a6e.ffb30d9",
        "influxdb": "941eddc.efe0e2",
        "name": "WriteToSecurity (Channel 2)",
        "measurement": "status",
        "precision": "",
        "retentionPolicy": "",
        "x": 1080,
        "y": 100,
        "wires": []
    },
    {
        "id": "12db7ae6.63eded",
        "type": "influxdb out",
        "z": "1493a6e.ffb30d9",
        "influxdb": "941eddc.efe0e2",
        "name": "WriteToSecurity (Channel 3)",
        "measurement": "status",
        "precision": "",
        "retentionPolicy": "",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "8066d104.ae97d",
        "type": "deduplicate",
        "z": "1493a6e.ffb30d9",
        "name": "Deduplicate Payload (Channel 1)",
        "keyproperty": "",
        "expirypolicy": "keep",
        "registryclass": "",
        "noderole": "standalone",
        "expiry": "5",
        "x": 780,
        "y": 60,
        "wires": [
            [
                "e438044e.bd2758"
            ],
            []
        ]
    },
    {
        "id": "14da2146.4229ef",
        "type": "deduplicate",
        "z": "1493a6e.ffb30d9",
        "name": "Deduplicate Payload (Channel 2)",
        "keyproperty": "",
        "expirypolicy": "keep",
        "registryclass": "",
        "noderole": "standalone",
        "expiry": "5",
        "x": 780,
        "y": 100,
        "wires": [
            [
                "6cc25ff9.84b"
            ],
            []
        ]
    },
    {
        "id": "7862d84c.a4b2e8",
        "type": "deduplicate",
        "z": "1493a6e.ffb30d9",
        "name": "Deduplicate Payload (Channel 4)",
        "keyproperty": "",
        "expirypolicy": "keep",
        "registryclass": "",
        "noderole": "standalone",
        "expiry": "5",
        "x": 1040,
        "y": 180,
        "wires": [
            [
                "d7552b98.45db48"
            ],
            []
        ]
    },
    {
        "id": "84dbf0c0.eb442",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cf3b58a7.763738",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "temperature",
        "name": "temperature",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "941eddc.efe0e2",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "security",
        "name": "security",
        "usetls": false,
        "tls": ""
    }
]
